html { 
    font-size: 62.5%; /* 62.5% x 16px = 10 */
}
body {    
}
h1 {
    font-size: 2.4rem;
    margin-block-end: 1rem;
}
h2 {
    font-size: 1.6rem;
    margin-block-end: 1rem;
}
p {
    padding: 1rem;
}
.color-red {
    background-color: red;
}
.color-blue {
    background-color: #00A6F7;
}
.color-green {
    background-color: green;
}
/* Lisätään Flex */
.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.parent > * {
    flex-basis: 0;
    flex-grow: 1;
    order: 2;
}
/* Lisätään html-elementtiin flex-grow:2 */
.parent .flexgrowkaks {
    flex-grow: 2;
}
/* Siirretään html-elementti ensimmäiseksi */
.parent .orderyks {
    order: 1;
}